*.tar.zst
*.env
.env
.env.*
!**/.env.example
*.zip
*.csv
**/.DS_Store
**/__pycache__/
*.py[cod]
archive/**
reversible_baselines/*.tar.gz
TODO.md
.empirica/empirica.toml
.empirica/backups/
client/vite.config.js.timestamp-*.mjs
